* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(../images/spot_sky_lines_85072_1920x1080.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1 {
  margin: 20px 0;
  font-size: 64px;
  color: #015560;
  font-weight: 900;
}
h3{
color: #006e7d;
font-weight: 600;
font-size: 24px;
}

.container{
    margin: 0 200px 50px;
    background-color: transparent;
    padding: 30px;
    backdrop-filter: blur(80px);
    border-radius: 20px;
    border: 2px dashed #006e7d;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  scroll-snap-type: x mandatory;
  border-radius: 20px;
}

.scroll-container a {
  display: inline-block;
  scroll-snap-align: start;
  text-decoration: none;
}

.scroll-container img {
  width: 45vw;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s;
}

.scroll-container img:hover {
  transform: scale(0.9) ;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}