@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: rgba(0, 0, 0, 0.9);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
.back-button {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(255, 255, 255);
  }

  .back-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
.nfl a,
.mlb a,
.nhl a,
.pga a {
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.nfl a {
  color: rgba(79, 192, 210, 1);
}

.nfl a:hover {
  color: rgba(39.5, 96, 105, 1);
}

.mlb a {
  color: rgba(82, 210, 154, 1);
}

.mlb a:hover {
  color: rgba(41, 105, 77, 1);
}

.nhl a {
  color: rgba(231, 196, 104, 0.7);
}

.nhl a:hover {
  color: rgba(115.5, 98, 52, 0.7);
}

.pga a {
  color: rgba(235, 118, 85, 1);
}

.pga a:hover {
  color: rgba(117.5, 59, 42.5, 1);
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 100px auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  max-height: 90vh;
}

.wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #2c2c2c;
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #1a6657;
  border-radius: 10px;
}
.row ul {
  margin: 0;
  padding: 0;
}

.row ul li {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
}


.title ul li {
  padding: 15px 13px;
}

.row ul li {
  padding: 5px 10px;
}

.row {
  padding: 20px 0;
  height: 30px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.row:hover {
  background-color: rgba(25.5, 25.5, 25.5, 0.9);
  height: 65px;
}



.title {
  padding: 25px 0 5px 0;
  height: 45px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.title:hover {
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.title-hide {
  display: none;
}


.nfl {
  border-left: 3px solid rgba(55.3, 134.4, 147, 1);
}

.nfl:hover {
  border-left: 3px solid rgba(79, 192, 210, 1);
}

.mlb {
  border-left: 3px solid rgba(57.4, 146.9, 107.8, 1);
}

.mlb:hover {
  border-left: 3px solid rgba(82, 210, 154, 1);
}

.nhl {
  border-left: 3px solid rgba(161.7, 137.2, 72.8, 0.7);
}

.nhl:hover {
  border-left: 3px solid rgba(231, 196, 104, 0.7);
}

.pga {
  border-left: 3px solid rgba(164.5, 82.6, 59.5, 1);
}

.pga:hover {
  border-left: 3px solid rgba(235, 118, 85, 1);
}

.row-fadeIn-wrapper {
  opacity: 0;
  font-size: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-out;

}

.row-fadeIn-wrapper:hover {
  height: 35px;
}

.fadeIn {
  padding: 20px 0;
  font-size: 0;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.fadeIn:hover {
  background-color: rgba(25.5, 25.5, 25.5, 0.9);
}

.row-fadeOut-wrapper {
  font-size: 0;
  overflow: hidden;
  position: relative;

  opacity: 1;
  height: 65px;
}

.row-fadeOut-wrapper:hover {
  height: 100px;
}



.update1 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 1;

}

.update2 {
  position: absolute;
  top: 25px;
  display: inline-block;
  opacity: 0;

}

ul.more-content li {
  position: relative;
  top: 22px;
  font-size: 13px;
  margin: 0;
  padding: 10px 13px;
  display: block;
  height: 50px;
  width: 100%;
  color: rgba(127.5, 127.5, 127.5, 0.9);
}

.small {
  color: rgba(102, 102, 102, 0.9);
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}
